body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
}

.container {
    background-color: darkslategrey;
    padding: 1rem;
    margin: 0;
}

img {
    height: 50%;
    width: 50%;
}

h1 {
    color: darkturquoise;
    font-family: cursive;
    font-style: italic;
}

p {
    color: darkturquoise;
    font-family: cursive;
    font-style: italic;

}

.dice-flex {
    display: flex;
    justify-content: center;
}
